@charset "UTF-8";

*{ margin:0;
padding:0;
}

body{
font-family: Arial, Helvetica, sans-serif;
background: lightslategray;

}
main{
    display: flex;
} 

h1{
    padding: 16px;
    text-align: center;
}

#container{
background: rgb(243, 221, 193);
border: 1px solid black;
width: 600px;
height: 400px;
position: relative;
margin: 0 auto;
}

div{
border: 1px solid black;
width: 125px;
height: 80px;
text-align: center;
margin: 20px;
position: relative;
float: left;
}

p{
 margin-top: 28px;
 font-family: cursive;
 color: rgb(0, 0, 0);
 font-weight: bolder;
}

div:hover{
background-color: greenyellow;
transition: 0.5s;
}


